body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image: url('fundo-inicial.jpg'); /* Substitua pelo caminho do seu GIF */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Borrado do fundo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    border: 1px solid #ffffff; /* Borda para dar mais destaque */
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px; /* Aumenta o tamanho do texto "Login" para 20px */
}

.input-group {
    margin-bottom: 15px;
    color: #ffffff;
}

.input-group input {
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    color: white; /* Muda a cor do texto do prompt para branco */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #eef0f2;
}

p {
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para espaçar checkbox e link */
}
